* {
    font-family: Godwit, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.main-container {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 18%;
}

.tour-card-body {
    padding: 10px;
}

.card-title {
    font-size: 17px;
    font-weight: 600;
}

.card-text {
    font-size: 14px;
    color: rgb(95, 95, 95);
}

.card-change {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-refund, .card-change-date {
    background-color: rgba(235, 235, 235, 0.797);
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
}

.card-view-btn {
    border-top: dashed 1px black;
}

.card-view-btn button{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    font-weight: 700;
    color: #457cd6;
}

.option-adjustment {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tour-booking {
    width: 100%;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(3, 18, 26, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tour-booking h4 {
    text-align: left;
    font-weight: 700;
}

.date-picking, .date-section {
    display: flex;
    gap: 10px;
    align-items: center;
}

.calendar, .date-container {
    border: solid 1px rgba(209, 209, 209, 0.76);
    padding: 5px 15px;  
    border-radius: 7px;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.date-section {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 950px; /* Giới hạn chiều rộng */
    scroll-behavior: smooth;
    overflow: hidden;
}

.date-container {
    flex: 0 0 auto; /* Đảm bảo các phần tử không co dãn */
    text-align: center;
    cursor: pointer;
}

.date-container.selected {
    background-color: #1E90FF; /* Xanh nước biển */
    color: white;
    font-weight: bold;
}

.calendar {
    background-color: #F7F9FA;
    color: #019BF4;
    font-weight: bold;
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 15%;
}

/* Sử dụng !important để đảm bảo rằng vị trí này ghi đè lên các vị trí khác */
.flatpickr-calendar {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 9999 !important;
}

.date-container {
    flex-direction: column;
}

.date {
    font-weight: bold;
}

.date-wrapper {
    display: flex;
    align-items: center;
    width: 85%;
}

button.scroll-left, button.scroll-right {
    background-color: #019BF4;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
}

button.scroll-left:hover, button.scroll-right:hover {
    background-color: #0056b3;
}

#blur {
    transition: 0.5s;
}

#blur.active {
    filter: blur(20px);
}

.selected-date-container {
    text-align: center;
    background-color: #ECF8FF;
    border-radius: 10px;
    padding: 15px 0px;
}

.selected-date-title {
    font-weight: 600;
    color: #8a9296;
    font-size: 16px;
}

.selected-date {
    font-weight: bold;
    font-size: 22px;
}

.people-adjust-container {
    border-top: solid 4px rgba(216, 216, 216, 0.616);
    border-bottom: solid 4px rgba(216, 216, 216, 0.616);
}

.people-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.people-infomation .total-cost-left-sec{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

.people-title {
    font-weight: 600;
    font-size: 20px;
    color: #808080;
}

.people-price {
    font-size: 25px;
    font-weight: 700;
}

.people-condition {
    font-weight: 600;
    font-size: 13px;
    color: #808080;
}

.people-container {   
    border-bottom: solid 1px rgba(216, 216, 216, 0.616);
}

.counter-container {
    display: flex;
    align-items: center;
}

.counter-display {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d8d8d8;
    background-color: #fff;
    cursor: pointer;
    font-size: 17px;
    color: black;
    border-radius: 5px;
    user-select: none;
}
    
.adjust-button{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F3F3;
    cursor: pointer;
    font-size: 24px;
    color: #007bff;
    border-radius: 5px;
    user-select: none;
}

.counter-display {
    margin: 0 10px;
    border: 2px solid #ccc;
}

.button:active {
    background-color: #f0f0f0;
}

.total-cost-title {
    font-weight: 700;
    font-size: 21px;
    color: #808080;
}

.total-cost {
    font-weight: 700;
    font-size: 30px;
    color: #FF5E1F;
}

.book-now-btn {
    font-weight: 700;
    font-size: 20px;
    color: white;
    background-color: #FF5E1F;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
}

.total-cost-left-sec {
    display: flex;
    flex-direction: row;
}

.btn-primary {
    background-color: transparent;
    border: none;
}

.card-body {
    width: 200%;
}

.people-cost-detail{
    display: flex;
    justify-content: space-between;
}

.text-cost-detail {
    font-weight: 600;
    color: gray;
}

.total-cost-detail {
    font-weight: 700;
    color: black;
}