* {
    font-family: Godwit, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.main-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh; /* Ensures the container is vertically centered */
    margin: 0; /* Removes default margin */
    
}

a {
    text-decoration: none !important;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 65%;
    justify-content: center;
    margin-top: 20px;
}

.title {
    font-size: 25px;
    font-weight: 700;
}

.sub-title {
    font-size: 16px;
    font-weight: 600;
    color: gray;
}

.body-container {
    display: flex;
    width: 100%;
    gap: 20px;
}

.forms-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.invite-login-container {
    display: flex;
    gap: 15px;
    padding: 15px;
    border: solid 1px rgba(187, 187, 187, 0.74);
    border-radius: 10px;
    align-items: center;
    background-color: white;
}

.invite-login-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.invite-login-title {
    font-size: 17px;
    font-weight: 700;
}

.invite-login-sub {
    font-size: 14px;
    font-weight: 600;
    color: gray;
}

.invite-login-link {
    font-size: 16px;
    font-weight: 650;
    color: #0294F3;
}

.booking-overview-container {
    width: 40%;
    border: solid 1px rgba(187, 187, 187, 0.74);
    padding: 15px 0px;
    border-radius: 10px;
    height: fit-content;
}

.booking-overview-title {
    font-size: 17px;
    font-weight: 700;
    padding: 15px 15px;
}

.option-container {
    display: flex;
    padding: 15px 15px;
    height: fit-content;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.option-name-container {
    width: 80%;
}

.option-img {
    width: 64px;
    height: 64px;
    overflow: hidden; /* Hide any overflow */
    border-radius: 5px;
}

.option-title {
    font-size: 16px;
    font-weight: 700;
}

.option-description {
    font-size: 14px;
    font-weight: 500;
}

.option-img img {
    object-fit: contain;
    object-position: 50% 50%;
}

.option-detail-information-container {
    padding: 15px 10px;
    background-color: #ECF8FF;
    font-size: 14px;
}

.visit-title, .include-title {
    color: gray;
    font-weight: 500;
    font-size: 15px;
}

.visit-date, .include {
    color: black;
    font-weight: 700;
    font-size: 14px;
}

.option-time-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
}

.pre-book, .refundable {
    color: #00875A;
}

.view-more-detail {
    font-size: 13px;
    padding: 0px 15px;
    font-weight: 600;
}

/* contact-information-form */


.contact-information-title, .guest-information-title, .pickup-location-title, .total-cost-overview-title  {
    font-size: 22px;
    font-weight: 700;
}

.contact-information-form-title, .guest-information-form-title, .additional-infomation-titl{
    padding-bottom: 10px;
    border-bottom: solid 1px rgba(197, 197, 197, 0.726);
    font-size: 16px;
    font-weight: 700;
}

.contact-information-form, .guest-information-form, .additional-infomation, .additional-request {
    border: solid 1px rgba(197, 197, 197, 0.726);
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: white;
    
}

.inner-contact-information-form, .inner-guest-information-form {
    padding-top: 10px;
}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-subheader {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: gray;
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
}

.phone-group {
    display: flex;
}

.phone-group input {
    flex: 1;
}

.country-code {
    width: 70px;
    margin-right: 10px;
}

.radio-group {
    display: flex;
    margin-top: 20px;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
}

.radio-group label {
    margin-right: 20px;
    font-size: 14px;
}

.form-actions {
    margin-top: 20px;
}

.country-code {
    border-radius: 8px;
    padding: 5px;
    width: 15%;
}

.person-title {
    height: 30px;
    width: 20%;
    margin-bottom: 10px;
    border-radius: 8px;
}

.additional-form-group {
    margin-top: 10px;
}

.request-input{
    height: 80px;
}

.request-format {
    margin-top: 10px;
    font-size: 13px;
}

.total-cost-overview {
    background-color: white;
    border: solid 1px rgba(197, 197, 197, 0.726);
    border-radius: 10px;
    padding: 0px 20px;
    margin-top: 10px;
}

.total-cost-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.pay-title, .detal-price-name, .detail-price, .additional-infomation-title {
    font-size: 16px;
    font-weight: 700;
}

.total-cost {
    font-size: 20px;
    font-weight: 700;
    color: #FF5E1F;
}

.detail-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.continue-btn-conatiner {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 50px;
}

.continue-btn {
    color: white;
    background-color: #FF5E1F;
    border: none;
    width: 45%;
    border-radius: 10px;
    height: 50px;
    font-size: 24px;
    font-weight: 700;
}
