/* Example styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

.container {
    max-width: 600px;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

h1 {
    color: #1b3661;
    border-bottom: 2px solid #1b3661;
    padding-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"], input[type="date"], input[type="number"], input[type="email"], button {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button{
    margin-top: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile-info {
    width: calc(50% - 10px); /* Adjust spacing as needed */
}

.change-info-button {
    text-align: center;
}

button {
    background-color: #1b3661;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #0c1f3d;
}

.error-message {
    color: red;
    font-size: 0.9rem;
}

.changepass {
    display: inline-block;
}
