/* Profile Card */
.profile-info {
    margin-bottom: 15px;
}

.profile-info label {
    font-weight: bold;
    display: inline-block;
    width: 150px;
}

.profile-info p {
    display: inline-block;
    margin: 0;
}

.profile-info button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
}

.profile-info button:hover {
    background-color: #0056b3;
}

h1 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.change-info-button {
    margin-top: 20px;
    text-align: center; /* Center align the content */
}

.change-info-button button {
    background-color: #007bff; /* Blue background */
    color: #fff; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease; /* Smooth transition for hover */
}

.change-info-button button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.changeform{
    display: inline-block;
}

