/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 3, 2024, 10:00:44 PM
    Author     : hoang
*/

.form-input-custom {
    display: flex;
    width: 100%; /* Ensures the container takes the full width */
}

.search-field-custom {
    flex-grow: 1;
    background-color: #F9F9F9;
    border-radius: 20px 0px 0px 20px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px
}

.search-field-custom::placeholder {
    color: #fd7e14;
}
.event-default-image {
    max-width: 300px;
    margin: auto; /* Centers the image and caption */
}

.event-default-image img {
    width: 100%;
    height: auto; /* Maintains aspect ratio */
}
.small-button {
    font-size: 12px;         /* Larger font size */
    padding: 2px 5px;       /* Reduced padding for smaller height */
    line-height: 1;         /* Tight line height for minimal height */
    width: 50px;            /* Fixed width */
    display: inline-block;   /* Allows for width control */
    text-align: center;      /* Center text */
    overflow: hidden;        /* Hides any overflow */
    white-space: nowrap;     /* Prevents text wrapping */
}




