/* .search-bar {
    display: flex;
    justify-content: center;
}

.search-bar input {
    height: 50px;
    width: 60%;
} */

* {
    font-family: Godwit, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

a {
    text-decoration: none!important;
}

.inner-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.search-bar input {
    width: 70%;
    padding: 10px;
    border: solid 1px rgba(206, 206, 206, 0.808);
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: #0194F3;
    color: #ffffff;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #097ecc;
}

.page-location {
    margin-top: 15px;
}

.page-location a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 500;
}

.tour-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 75%;
}

.tour-info-container-wrapper {
    display: flex;
    justify-content: space-between;
}

.tour-name {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.tour-title {
    display: -webkit-box;
    color: white;
    font-size: 32px;
    font-weight: bold;
    word-wrap: break-word;
    width: 1030px;
    text-align: left;
    margin: 0;
    padding: 0;
    -webkit-line-clamp: 2; /* Giới hạn hiển thị 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.save-btn, .share-btn {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.save-btn, .share-btn i {
    font-size: 18px;
}

.tour-location {
    margin-top: 20px;
    text-align: left;
    font-weight: 500;
}

.tour-time {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 15px;
}

.nearest-tour-date-text, .tour-duration-text {
    font-weight: 700;
}

.nearest-tour-date, .tour-duration {
    font-weight: 500;
}

.tour-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
}

.tour-img img {
    display: block;
}

.tour-gallery {
    margin-top: 20px;
    max-width: 1150px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 6vw);
    grid-gap: 10px;
}

.img-viewmore {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
    color: white;
    border-radius: 3%;
}

.img-viewmore:hover{
    opacity: 1;
}

.image-highlight {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.image-1 {
    position: relative;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.image-2 {
    position: relative;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.image-3 {
    position: relative;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}

.image-4 {
    position: relative;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
}

.view-more-experiment {
    font-weight: 600;
}

#blur {
    transition: 0.5s;
}

#blur.active {
    filter: blur(20px);
}

#popup1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    width: 60%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 10; /* Keep a high z-index so the popup is above everything else */
}

#popup1.active {
    top: 55%;
    visibility: visible;
    opacity: 1;
}

#popup2{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 10; /* Keep a high z-index so the popup is above everything else */
    background-color: white;
    padding: 10px 0px 0px 15px;
}

#popup3{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 10; /* Keep a high z-index so the popup is above everything else */
    background-color: white;
    padding: 10px 0px 0px 15px;
}

#popup4{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 10; /* Keep a high z-index so the popup is above everything else */
    background-color: white;
    padding: 10px 0px 0px 15px;
}

#popup5{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 10; /* Keep a high z-index so the popup is above everything else */
    background-color: white;
    padding: 10px 0px 0px 15px;
}

.information-wrapper, .experiment-wrapper, .tour-itinerary-wrapper, .tour-option-detail-wrapper{
    overflow-y: auto;
    max-height: 500px;   
}

#popup2.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
}

#popup3.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
}

#popup4.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
}

#popup5.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
}

#popup2 button{
    top: 3%;
    left: 96%;
}

#popup3 button{
    top: 3%;
    left: 96%;
}

#popup4 button{
    top: 3%;
    left: 96%;
}

#popup5 button{
    top: 3%;
    left: 96%;
}
/* body {
    overflow: hidden;
} */

#popup3 img {
    width: 100%;
}

.carousel-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 2%;
}

.btn-close {
    position: absolute;
    top: -3%;
    left: 100%;
}

.tour-detail {
    display: flex;
    gap: 10px;
}

.tour-detail p {
    margin: 0;
}

.tour-detail-left-section {
    max-width: 750px;
}

.tour-detail-right-section {
    max-width: 450px;
}

.left-section-above {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.average-rating {
    display: flex;
    align-items: center;
    background-color: rgba(241, 241, 241, 0.795);
    border-radius: 10px;
    width: 40%;
    padding: 10px;
}

.average-rating-point {
    background-color: #35aeff;
    text-align: center;
    padding: 13px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.rank {
    text-align: left;
    padding: 10px;
}

.rank-type {
    color: #0194F3;
    font-weight: bold;
    font-size: 17px;
}

.map {
    background-color: rgba(241, 241, 241, 0.795);
    border-radius: 10px;
    width: 80%;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.map i{
    font-size: 35px;
    color: #0194F3;
    margin-left: 5px;
}

.view-map {
    color: #0194F3;
    font-size: 17px;
    font-weight: bold;
}

.map-content {
    text-align: left;
}

.left-section-below {
    background-color: rgba(241, 241, 241, 0.795);
    border-radius: 10px;
    text-align: left;
    padding: 10px;
}

.split {
    width: 100%;
    height: 0.5px;
    background-color: rgba(175, 175, 175, 0.815);
}

.more-information {
    padding-top: 10px;
    font-weight: 600;
}

.price-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #FFF4EF;
    border-radius: 10px;
    align-items: center;
}

.price {
    text-align: left;
}

.price h4 {
    margin: 0;
}

.start-from {
    font-size: 12px;
}

.find-tour-btn {
    border: none;
    background-color: #FD5D1C;
    width: 30%;
    height: 45px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.view-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.view-review-content {
    font-weight: bold;
    max-width: 200px;
    text-align: left;
}

.view-review a {
    font-weight: bold;
}

.highlight-review {
    background-color: rgba(241, 241, 241, 0.795);
    min-height: 160px;
    border-radius: 10px;
    padding: 15px 20px;
}

.review-info {
    display: flex;
    justify-content: space-between;
    align-self: center;
    
}

.review-content {
    text-align: left;
    max-width: 300px;
    margin-top: 10px;
}

.reviewer, .rating {
    font-weight: bold;
}

.tour-itinerary {
    width: 75%;
    text-align: left;
}

.tour-itinerary h4 {
    text-align: center;
}

.tour-booking {
    width: 75%;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(3, 18, 26, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tour-booking h4 {
    text-align: left;
    font-weight: 700;
}

.date-picking, .date-section {
    display: flex;
    gap: 10px;
    align-items: center;
}

.calendar, .date-container {
    border: solid 1px rgba(209, 209, 209, 0.76);
    padding: 5px 15px;  
    border-radius: 7px;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.date-section {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 950px;
    scroll-behavior: smooth;
    overflow: hidden;
}

.date-container {
    flex: 0 0 auto; /* Đảm bảo các phần tử không co dãn */
    text-align: center;
    cursor: pointer;
}

.date-container.selected {
    background-color: #1E90FF; /* Xanh nước biển */
    color: white;
    font-weight: bold;
}

.calendar {
    background-color: #F7F9FA;
    color: #019BF4;
    font-weight: bold;
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 15%;
}

/* Sử dụng !important để đảm bảo rằng vị trí này ghi đè lên các vị trí khác */
.flatpickr-calendar {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 9999 !important;
}



.date-container {
    flex-direction: column;
}

.date {
    font-weight: bold;
}

.date-wrapper {
    display: flex;
    align-items: center;
    width: 85%;
}

button.scroll-left, button.scroll-right {
    background-color: #019BF4;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
}

button.scroll-left:hover, button.scroll-right:hover {
    background-color: #0056b3;
}

.tour-options-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tour-option {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: solid 1px rgba(209, 209, 209, 0.76);
    padding: 15px 15px;  
    border-radius: 7px;
}

.tour-option-left-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    width: 60%;
}

.option-name {
    font-weight: bold;
    font-size: 20px;
}

.option-note {
    font-weight: bold;
    color: gray;
}

.tour-option-detail {
    font-weight: 500;
}

.refund-section {
    border: solid 1px rgba(209, 209, 209, 0.76);
    border-radius: 6px;
    width: fit-content;
    padding: 5px 10px;
    font-size: 14px;
}

.tour-option-right-section {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.option-price-section {
    width: 100%;
    padding: 0px 10px;
    flex-direction: column;
    display: flex;
    gap: 15px;
}

.option-price {
    font-size: 27px;
    font-weight: 500;
}

.option-pick-btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    min-height: 40px;
    font-weight: bold;
    background-color: #019BF4;
    color: white;
}

.tour-time-popup {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.refund-section-popup {
    border: solid 1px rgba(205, 205, 205, 0.722);
    border-radius: 10px;
    margin: 10px;
    padding: 3px 7px;
}

.price-wrapper{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    padding: 10px 15px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.price-wrapper-inner{
    font-size: 25px;
    font-weight: bold;
}

.price-wrapper button {
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #019BF4;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

.price-wrapper button:hover {
    background-color: #0079be;
}

.navbar-inner {
    position: sticky;
    top: 12%;
    z-index: 99;
    background-color: white;
    padding: 5px;
}

#popup5 h4 {
    padding: 5px;
}

.navbar-content h4{
    scroll-margin-top: 100px; 
}
