.custom-btn-toolbar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.custom-btn-group-vertical {
    display: flex;    
    width: 100%;
    justify-content: space-around;
}

.custom-btn {
    display: block; /* Ensures block display for full width */
    padding: 12px; /* Custom padding for buttons */
    font-size: 18px; /* Custom font size */
    line-height: 1.5; /* Custom line height */
    text-align: center; /* Center text */
    border: none; /* Remove default border */
    border-radius: 0.3rem; /* Custom border radius */
    transition: background-color 0.3s ease; /* Transition effect */
}

.custom-btn-primary {
    background-color: #fd7e14; /* Custom primary button background color */
    color: white; /* Text color */
}

.custom-btn-primary:hover {
    background-color: #007bff; /* Darker background on hover */
}

.full-width {
    width: 100%; /* Full width for block elements */
}

.mb-2 {
    margin-bottom: 0.5rem; /* Custom margin bottom */
}
