.total-cost-overview, .display-qr, .display-banking {
    background-color: white;
    border: solid 1px rgba(197, 197, 197, 0.726);
    border-radius: 10px;
    padding: 0px 20px;
    margin-top: 10px;
}

.total-cost-heading, .display-qr-heading, .display-banking-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.total-cost {
    font-size: 20px;
    font-weight: 700;
    color: #FF5E1F;
}

.pay-title, .detal-price-name, .detail-price, .additional-infomation-title {
    font-size: 16px;
    font-weight: 700;
}

.detail-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55%;
    justify-content: center;
    margin-top: 20px;
}

.main-container-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #E6EAED;
}

.tour-qr-container {
    background-color: white;
    border-radius: 10px;
}

.tour-qr {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    flex-direction: column;
}

.tour-qr-title, .display-qr-heading {
    padding: 20px 0px;
    border-bottom: solid 1px rgba(197, 197, 197, 0.726);
    font-size: 20px;
    font-weight: 700;
}

.tour-qr img{
    width: 40%;
}

.continue-btn-conatiner {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.continue-btn {
    color: white;
    background-color: #FF5E1F;
    border: none;
    width: 100%;
    border-radius: 10px;
    height: 50px;
    font-size: 24px;
    font-weight: 700;
}

.paid-content-container {
    font-size: 18px;
    font-weight: 600;
}

.display-qr-btn {
    width: 100%;
    background-color: white !important;
    color: black !important;
    border: solid 1px rgba(197, 197, 197, 0.726) !important;
}

.display-banking-title {
    font-size: 20px;
    font-weight: 700;

}

.banking-details {
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
}

.banking-details .detail-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

.banking-details .detail-item span {
    font-weight: bold;
}

.banking-details .detail-item .value {
    background-color: #f1f6fa;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: normal;
}

.value {
    width: 70%;
}

.banking-details .detail-item .amount {
    font-size: 18px;
    color: #000;
}

.logo-mb {
    width: 60px; /* Adjust the width as needed */
    height: auto; /* Maintains aspect ratio */
    margin-right: 10px; /* Adds some space between the logo and the chevron icon */
}

.modal#statusSuccessModal .modal-content, 
.modal#statusErrorsModal .modal-content {
	border-radius: 30px;
}
.modal#statusSuccessModal .modal-content svg, 
.modal#statusErrorsModal .modal-content svg {
	width: 100px; 
	display: block; 
	margin: 0 auto;
}
.modal#statusSuccessModal .modal-content .path, 
.modal#statusErrorsModal .modal-content .path {
	stroke-dasharray: 1000; 
	stroke-dashoffset: 0;
}
.modal#statusSuccessModal .modal-content .path.circle, 
.modal#statusErrorsModal .modal-content .path.circle {
	-webkit-animation: dash 0.9s ease-in-out; 
	animation: dash 0.9s ease-in-out;
}
.modal#statusSuccessModal .modal-content .path.line, 
.modal#statusErrorsModal .modal-content .path.line {
	stroke-dashoffset: 1000; 
	-webkit-animation: dash 0.95s 0.35s ease-in-out forwards; 
	animation: dash 0.95s 0.35s ease-in-out forwards;
}
.modal#statusSuccessModal .modal-content .path.check, 
.modal#statusErrorsModal .modal-content .path.check {
	stroke-dashoffset: -100; 
	-webkit-animation: dash-check 0.95s 0.35s ease-in-out forwards; 
	animation: dash-check 0.95s 0.35s ease-in-out forwards;
}

@-webkit-keyframes dash { 
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes dash { 
	0% {
		stroke-dashoffset: 1000;
	}
	100%{
		stroke-dashoffset: 0;
	}
}
@-webkit-keyframes dash { 
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes dash { 
	0% {
		stroke-dashoffset: 1000;}
	100% {
		stroke-dashoffset: 0;
	}
}
@-webkit-keyframes dash-check { 
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}
@keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}
.box00{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
